#detail {
  margin: 1rem;
  padding: 0 7rem;
  border-radius: 3px;
}

#detail .detail-container.img-container {
  padding: 10rem;
}

table {
  background-color: #f8f8f8;
  height: 480px;
}

.button-add {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
}

.button-add button {
  width: 10rem;
}
.img-carousel {
  max-width: 500px;
  width: 100%;
}
