.iphone-se {
  height: 500px;
  width: 710px;
  background-image: url(/public/IphoneSE.jpg);
  background-position: top center;
}

.ipad {
  height: 500px;
  width: 660px;
  background-image: url(/public/Ipad.jpg);
}

.airtag {
  height: 476px;
  width: auto;
}
.Airtag {
  background-color: #f5f5f7;
}
.watch-tag {
}
