.card {
  margin: 1rem;
  padding: 0.5rem;
  width: 200px;
  height: 450px;

  border: 1px solid navy;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}

.card h1 {
  text-align: justify;
  height: 80px;
}
