.nav-color {
  background-color: #333333;
}
.navbar {
  font-size: 16px;
}
.navbar-brand .nav-link {
  padding: 0;
}
.navbar-brand img {
  width: 9em;
  height: auto;
}

.nav-link {
  color: #e3e3e3 !important;
}
@media only screen and (max-width: 734px) {
  .navbar-brand img {
    width: 7em;
    height: auto;
  }
  .nav-link {
    font-size: 0.8em;
  }
}

@media only screen and (max-width: 500px) {
  .navbar-brand img {
    width: 5em;
    height: auto;
  }
  .nav-link {
    font-size: 0.6em;
  }
}
