.item,
.item-img {
  width: 25%;
  height: auto;
  max-height: 150px;
  padding: 0;
  margin: 0;
}

.item {
  margin: 20px 15px 5px 15px;
}
.plus {
  width: 1rem;
  cursor: pointer;
}

.minus {
  width: 1rem;
  cursor: pointer;
}
.visibility {
  visibility: hidden;
}
.quantity {
  width: 10px;
}

.remove img {
  width: 1.5rem;
  height: 20px;
  cursor: pointer;
}
